@model List<Person>
@*tenhle view je dělaný na to, že zobrazuje konkrétní věc, co posílá model - v našem případě top100 z Controlleru*@

@*@using InsuranceCorp.Model; - přesunuto do _ViewImports.cshtml*@

@{
	// sekce kódu
	// např. Model.Count()

}

@*sekce HTML*@
<div>
	<table class="table">
		<tr>
			<td>ID</td>
			<td>Jméno</td>
			<td>Příjmení</td>
			<td>Datum narození</td>
			<td>Email</td>
			<td>Počet smluv</td>
		</tr>
		@foreach (var person in Model)
		{
			<tr>
				@*	<td> <a href="Detail/@person.Id"> @person.Id </a></td>*@
				@* asp-route-id - souvisí s parametrem kontroleru "int id" - nebo taky po změně idosoby *@
				<td> <a asp-asp-controller="Person" asp-action="Detail" asp-route-idosoby="@person.Id"> @person.Id </a></td>
				<td>@person.FirstName</td>
				<td>@person.LastName</td>
				<td>@person.DateOfBirth.ToString("dd.MM.yyyy")</td>
				<td>@person.Email</td>
				<td>@person.Constracts.Count()</td>
			</tr>
		}
	</table>
</div>